* {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: orange;
	height: 10vh;
}

#brand {
	display: flex;
	align-items: center;
}

#logo {
	margin-left: 20px;
	font-size: 35px;
}

#brand-name {
	margin-left: 10px;
}

#links-container {
	display: flex;
	align-items: center;
}

a {
	margin: 0px 20px;
	text-decoration: none;
	font-size: 25px;
}

main {
	height: 85vh;
	background-color: lightyellow;
	text-align: center;
	display: flex;
}

h1 {
	margin: 10px;
}

#side-nav {
	width: 10vw;
	display: flex;
	flex-direction: column;
	background-color: yellow;
}

.side-nav-links {
	margin: 10px 0px;
}

#main-content {
	width: 90vw;
}

#menu-a {
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

#menu-b {
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

img {
	height: 200px;
	width: 250px;
}

h3 {
	margin: 10px;
}

footer {
	background-color: orange;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	height: 100vh;
}

.carousel-control {
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 15%;
opacity: .5;
filter: alpha(opacity=50);
font-size: 20px;
color: #fff;
text-align: center;
text-shadow: 0 1px 2px rgba(0,0,0,0.6);
border-radius: 9px;
}

.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:.8!important;
}
.opacity-5 {
  opacity:1!important;
}

/* Maybe even support hover opacity shifts */
.opacity-0h5 {
  opacity:0!important;
  transition: opacity .25s ease-in-out!important;
  -moz-transition: opacity .25s ease-in-out!important;
  -webkit-transition: opacity .25s ease-in-out!important;
}
.opacity-0h5:hover {
  opacity:1!important;
}

/*mobile style*/
@media only screen and (max-width: 400px){
	section {
		background-color: blue;
	}
}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	section {
		background-color: red;
	}
}

/*desktop style*/
@media only screen and (min-width: 961px){
	section {
		background-color: yellow;
	}
}